<?xml version="1.0"?>
<!--roslaunch pcl_tut read_rviz.launch-->

<launch>

    <!-- From tutorial -->

    <node pkg="pcl_tut"
          type="pcl_read"
          name="pcl_read"
          output="screen"/>
        <!--        <param name="path" value="$(find chapter10_tutorials)/data/test_pcd.pcd" />-->

    <node pkg="tf"
        type="static_transform_publisher"
        name="tf_publisher"
        args="0 0 0 0 0 0 map odom 10" />

    <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find pcl_tut)/rviz/intensity.rviz"
        />


</launch>
